<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
    <p>Current Semesters:</p>

    {% if semesters_current %}
        <ul>
        {% for semester in semesters_current %}
            <li><a href="/{{ semester }}/">{{ semester.semester_str }} ({{ semester.semester_str_readable }})</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No current semesters.</p>
    {% endif %}

    <p>All Semesters:</p>
    {% if semesters_all %}
        <ul>
        {% for semester in semesters_all %}
            <li><a href="/{{ semester }}/">{{ semester.semester_str }} ({{ semester.semester_str_readable }})</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No semesters.</p>
    {% endif %}

  </body>
</html>